<!-- <app-action-selector (actionSelected)="actionSelected$.next($event)"></app-action-selector> -->

<mat-card class="title">
  <mat-card-title>
    <h1>Convert distances, durations, or paces</h1>
  </mat-card-title>
</mat-card>

<app-conversion-entry
  *ngFor="let conversion of conversions$ | async"
  #conversion
  [initialFrom]="conversion || undefined"
  (conversionSelected)="conversionsSubject.next($event)"
  (cancelClicked)="!conversion || deletedSubject.next(conversion)">
</app-conversion-entry>
