<mat-card class="convert">
  <div class="input-wrapper">
    <div class="pace-entry">
      <app-pace-entry
        [initial]="initialFrom"
        (metricsSelected)="fromSubject$.next($event)"
        label="from" placeholder="5 kph"></app-pace-entry>
      <app-pace-entry
        (metricsSelected)="toSubject$.next($event)"
        [allowValues]="false"
        [matchUnitOf$]="fromSubject$"
        label="to" placeholder="min/km"></app-pace-entry>
      <app-pace-entry
        (metricsSelected)="forOrAtSubject$.next($event)"
        [requireValues]="true"
        [matchUnitOf$]="forOrAtCompliment$"
        label="for/at/in" placeholder="6 hours"></app-pace-entry>
    </div>

    <ng-container *ngIf="convertedMetric$ | async as result">
      <ng-container *ngTemplateOutlet="resultDisplay;context:{result: result}">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="convertedEffort$ | async as result">
      <ng-container *ngTemplateOutlet="resultDisplay;context:{result: result}">
      </ng-container>
    </ng-container>

    <div class="cancel">
      <button *ngIf="!!initialFrom" (click)="cancelClicked.emit()"
          mat-raised-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="!initialFrom" disabled mat-raised-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<ng-template #resultDisplay let-result="result">
  <mat-icon class="wide-only">arrow_right</mat-icon>
  <mat-icon class="narrow-only">arrow_drop_down</mat-icon>
  <mat-card class="result">
    <span class="result-text">{{result}}</span>
    <button (click)="copyToClipboard(result.toString())" mat-button>
      <mat-icon>content_copy</mat-icon>
    </button>
    <button (click)="selectConversion(result)" mat-button>
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </mat-card>
</ng-template>
