<mat-card class="convert">
  <div class="input-wrapper">
    <div class="pace-entry">
      <app-pace-entry
        [initial]="initialFrom"
        [requireValues]="true"
        [reset$]="resetSubject$"
        (metricsSelected)="fromSubject$.next($event)"
        label="from" placeholder="e.g. 5 kph"></app-pace-entry>
      <app-pace-entry
        [reset$]="resetSubject$"
        (metricsSelected)="toSubject$.next($event)"
        [allowValues]="false"
        [matchUnitOf$]="fromSubject$"
        label="to" placeholder="e.g. min/mi"></app-pace-entry>
      <app-pace-entry
        [reset$]="resetSubject$"
        (metricsSelected)="forOrAtSubject$.next($event)"
        [requireValues]="true"
        [matchUnitOf$]="forOrAtCompliment$"
        label="for/at/in" placeholder="e.g. 6 hours"></app-pace-entry>
    </div>

    <ng-container *ngIf="convertedMetric$ | async as result">
      <ng-container *ngTemplateOutlet="resultDisplay;context:{result: result}">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="convertedEffort$ | async as result">
      <ng-container *ngTemplateOutlet="resultDisplay;context:{result: result}">
      </ng-container>
    </ng-container>

    <div class="cancel">
      <button *ngIf="deleteRemoves" (click)="cancelClicked.emit()"
          mat-raised-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="!deleteRemoves" (click)="this.resetSubject$.next()" mat-raised-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<ng-template #resultDisplay let-result="result">
  <mat-icon class="wide-only">arrow_right</mat-icon>
  <mat-icon class="narrow-only">arrow_drop_down</mat-icon>
  <mat-card class="result">
    <span class="result-text">{{result}}</span>
    <button [matMenuTriggerFor]="conversionMenu" mat-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card>

  <mat-menu #conversionMenu="matMenu">
    <button (click)="selectConversion(result)" mat-menu-item>
      <mat-icon>arrow_downward</mat-icon>
      <span>Convert this value</span>
    </button>
    <button (click)="copyToClipboard(result.toString())" mat-menu-item>
      <mat-icon>content_copy</mat-icon>
      <span>Copy to Clipboard</span>
    </button>
    <button *ngFor="let suggestion of suggest(result); trackBy getIndex"
      (click)="selectConversion(suggestion.metric)" mat-menu-item>
      <mat-icon>auto_awesome</mat-icon>
      <span>{{suggestion.metric}}</span>
    </button>
  </mat-menu>
</ng-template>
