@media all and (max-width: 1000px) {
  .input-wrapper {
    flex-direction: column;
    padding-right:20px;
  }

  .pace-entry {
    width: 100%;
  }

  .result {
    margin-bottom: 10px;
    width: calc(100% - 10px);
    margin-left: 20px;
    margin-right: 0px;
  }

  .cancel {
    margin-left: 20px;
  }
}

@media all and (min-width: 1001px) {
  .input-wrapper {
    flex-direction: row;
  }
}

app-pace-entry {
  margin: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.equals {
  font-size: 2em;
}

mat-card.result {
  padding: 5px;
}

.result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #555;
}

.result button {
  font-size: 1.5em;
}

.result span.result-text {
  flex-grow: 1;
  font-size: 1.25em;
  line-height: 2.75em;
  margin-left: 5px;
  padding-left: 5px;
  text-align: left;
}

.pace-entry {
  margin-top: 15px;
}

.pace-entry, .equals, .result {
  flex-grow: 1;
}

.cancel button {
  padding: 10px;
}

.cancel {
  margin-right:15px;
}
