<mat-card class="convert">
  <div class="input-wrapper">
    <div class="pace-entry">
      <app-pace-entry
        [initial]="initialFrom"
        (metricsSelected)="fromSubject$.next($event)"
        label="from" placeholder="5 kph"></app-pace-entry>
      <app-pace-entry
        (metricsSelected)="toSubject$.next($event)"
        [allowValues]="false"
        [matchUnitOf$]="fromSubject$"
        label="to" placeholder="min/km"></app-pace-entry>
      <app-pace-entry
        (metricsSelected)="forOrAtSubject$.next($event)"
        [requireValues]="true"
        label="for/at/in" placeholder="6 hours"></app-pace-entry>
    </div>

    <ng-container *ngIf="convertedMetric$ | async as result">
      <div class="equals">
        <p>=</p>
      </div>

      <div class="result">
        <button (click)="conversionSelected.emit(result)" mat-button>
          {{result}}
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="convertedEffort$ | async as result">
      <div class="equals">
        <p>=</p>
      </div>

      <div class="result">
        <button (click)="conversionSelected.emit(result)" mat-button>
          {{result}}
        </button>
      </div>
    </ng-container>

    <div class="cancel" *ngIf="!!initialFrom">
      <button (click)="cancelClicked.emit()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
